@font-face {
    font-family: SourceSansPro-Regular;
    src: url(MEDIA/SourceSansPro-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    margin: auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    font-family: SourceSansPro-Regular;
    font-size: 75px;
}
.header {
    display: flex;
    flex-direction: column;
    /* width: 700px;
    height: 700px; */
    width: 100%;
    height: 100%;
    border: 3px solid orange;
    /* background-color: tan; */
    justify-content: center;
    align-items: center;
    gap: 6%;
}

/* @keyframes scan-thing {
    0% {transfom: translateY(0); background-color: yellow;}
    50% {transform: translateY(2610px); background-color: green;}
    100% {transfom: translateY(0); background-color: yellow;}
}
@keyframes gone {
    0% {background-color: white;}
    100% {background-color: black;}
} */
.the-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
    /* position: top; */
    /* align-self: flex-start; */
    background-color: blue;
    animation: scan-thing ease 2s;
    animation-iteration-count: 3;
} .the-bar.gone {
    animation: gone ease-in-out 1s;
    background-color: black;
}

/* @keyframes circle-change {
    0% {background-image: url(MEDIA/premium_photo-1689530775582-83b8abdb5020.jpg); background-position: top; background-repeat: no-repeat;}
    100% {background-image: url(MEDIA/ascii-art.png); background-position: center; background-repeat: no-repeat;}
} */
.circle {
    width: 700px;
    height: 700px;
    /* position: fixed; */
    /* width: 80%;
    height: 25%; */
    /* background-color: purple; */
    border: 3px solid purple;
    /* background-color: red; */
    background-image: url(MEDIA/scanning_for_person.webp); background-position: center; background-repeat: no-repeat; background-size: 125%;
    border-radius: 360px;
} .circle.on {
    animation: circle-change 2s;
    background-image: url(MEDIA/ascii-art.png); background-position: center; background-repeat: no-repeat;
}

.test-button {
    border: 3px solid red;
    background-color: green;
    color: white;
}
/* @keyframes animation-thing {
    0% {background-color: white;}
    100% {background-color: black;}
} */
.animation-container {
    width: 100%;
    height: 100%;
    border: 3px solid orange;
    justify-content: center;
    align-items: center;
    gap: 50px;
} .animation-container.on {
    animation: animation-thing ease-in-out 1s;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.content-scan {
    display: flex;
    flex-direction: column;
} .content-scan.on {
    display: flex;
    flex-direction: column;
    color: white;
    width: 300px;
    height: 300px;
    border: 3px solid red;
    background-color: white;
    overflow: scroll;
}